.home-container {
  padding: 20px;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-card {
  width: 15rem; 
  height: 22rem;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.product-card img {
  height: 150px;
  object-fit: cover;
}


.add-to-cart-button {
  width: 50%; 
  position: absolute;
  bottom: 10px;
  border: none;
}
.details-button{
  width:40%;
  position: absolute;
  bottom: 10px;
}

.details-button {
  left: 5px; 
  background-color: #17a2b8;
  color: #fff;
}

.add-to-cart-button {
  right: 5px; 
  background-color: #28a745;
  color: #fff;
}
