.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.success-message {
    font-size: 48px;
    color: green;
    text-align: center;
}
