.footer-container {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.subscribe-container {
  margin-top: 15px;
}

.email-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.email-input.invalid {
  border: 1px solid red;
}

.subscribe-button {
  padding: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
}


.footer-info-row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.footer-info {
  flex: 1;
  margin: 0 2px;
  margin-top:20px ;

}

.green {
  background-color: rgb(255, 217, 0);
  color: white;
  color: black;
}
